{
  "extends": "airbnb-base",
  "globals": {
    "define": true,
  },
  "env": {
    "node": true,
  },
  "rules": {
    "arrow-body-style": "off",
    "consistent-return": "off",
    "func-names": "off",
    "global-require": "off",
    "import/newline-after-import": "off",
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-mixed-operators": "off",
    "no-multi-assign": "off",
    "no-new": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-use-before-define": ["error", { "variables": false }],
    "vars-on-top": "off",
  },
}

