@charset "utf-8";

@import './_variables.scss';

.dark {
  color: $dark;
}
.gray {
  color: $gray;
}
.blue {
  color: $blue;
}
.green {
  color: $green;
}
.orange {
  color: $orange;
}
.yellow {
  color: $yellow;
}
.purple {
  color: $purple;
}
.red {
  color: $red;
}
.white {
  color: $white;
}

.bg {
  background: url('__uri(../img/bg.png)');
  background: url('__uri(/img/bg.png)');
  background: url('/static/img/bg.png');
}
