@charset "utf-8";

$black: #000;
$dark: #33373D;              // 主色，主要用在文字上
$gray: #969BA3;              // 灰色，主要用在文字上
$silver: #C0C5CC;
$red:  #ED424B;              // 红色，按钮背景色，文字颜色
$blue: #4284ED;              // 蓝色，多为链接颜色
$green: #7ED321;             // 绿色，标签背景色使用
$orange: #F0643A;            // 橙色，标签背景色使用
$yellow: #F0C53A;            // 黄色，星星评分的颜色
$purple: #A091FF;            // 紫色，荣耀标签使用
$light: #F6F7F9;             // 淡灰色的背景
$white: #FFF;
$borderLight: #f0f1f2;
$borderGray: #e3e4e6;
