@charset './_variables.scss';

@import './_variables.scss';

.dark {
  color: $dark;
}
.gray {
  color: $gray;
}
.blue {
  color: $blue;
}
.green {
  color: $green;
}
.orange {
  color: $orange;
}
.yellow {
  color: $yellow;
}
.purple {
  color: $purple;
}
.red {
  color: $red;
}
.white {
  color: $white;
}
