<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Combo</title>

  <!-- combo -->
  <link rel="stylesheet" href="<%= $domains.static %>/css/common.css">
  <link rel="stylesheet" href="<%= $domains.static %>/css/sprite.css">
  <link rel="stylesheet" href="<%= $domains.static %>/css/index.css">
  <!-- endcombo -->
</head>
<body>


  <!-- combo -->
  <script src="<%= $domains.static %>/js/common.js"></script>
  <script src="<%= $domains.static %>/js/index.js"></script>
  <!-- endcombo -->
</body>
</html>
