<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basic</title>

  <link rel="stylesheet" href="//127.0.0.1:8080__uri(/css/utils.css)">
  <link rel="stylesheet" href="//127.0.0.1:8080__uri(/css/index.css)">
  <link rel="stylesheet" href="//127.0.0.1:8080__uri(/font/FZZCYSK/FZZCYSK.css)">
  <link rel="stylesheet" href="//127.0.0.1:8080__uri(/icon/img-sprite.css)">
</head>
<body>
  <script src="//127.0.0.1:8080__uri(/icon/svg-sprite.js)"></script>

  <h1 class="yellow">Basic Demo</h1>

  <h2 class="red">字体压缩（只有四个字）</h2>

  <div class="icon-home"></div>
  <div class="icon-rank"></div>
  <div class="icon-sort"></div>

  <svg class="icon"><use xlink:href="#icon-arrow-l"></use></svg>
  <svg class="icon"><use xlink:href="#icon-arrow-r"></use></svg>
  <svg class="icon"><use xlink:href="#icon-size-down"></use></svg>
  <svg class="icon"><use xlink:href="#icon-size-up"></use></svg>

  <img src="//127.0.0.1:8080__uri(/img/bg-1.png)">

  <div class="bg1"></div>
  <div class="bg2"></div>
  <div class="bg3"></div>

  <script src="//qidian.gtimg.com/lbf/2.0.0/LBF.js?max_age=31536000"></script>
  <script>
    // 兼容 amd 模块
    define.amd = define.cmd;

    // LBF 配置
    LBF.config({
      paths: {
        __cmdify__: '//127.0.0.1:8080/__uri__', // __cmdify__ 用于替换成 site, __uri__ 用于替换成 static
      },
      alias: __alias__,
    });

    LBF.use(['lib.Zepto', '__cmdify(/js/index.js)'], function ($, page) { // __cmdify 用于替换成 site/xxx
      page();
    });
  </script>
</body>
</html>
